.home-content {
  height: calc(100vh - 85px);
  width: calc(100% - 15%);
  background-image: url("../../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: right; 
}
.content {
  color: white;
  float: left;

  margin-left: 10px;
}

.content h1 {
  font-size: 40px;
  text-align: center;
}

.content p {
  font-size: 25px;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content li {
  font-size: 25px;
  margin-bottom: 10px;
}

.content strong {
  font-weight: bold;
}
