<app-sidebar></app-sidebar>
<app-topbar></app-topbar>
<div class="home-content">
  <div class="content">
    <h1>NTP GYM MANAGEMENT</h1>
    <p>
      "Step into our world of fitness excellence, where state-of-the-art
      equipment and expert trainers await to guide you through personalized
      workout programs, ensuring an unparalleled fitness journey that leaves you
      energized, empowered, and ready to conquer your goals.
    </p>
    <ul>
      <li>- Modern equipment</li>
      <li>- Professional trainers</li>
      <li>- Personalized training programs</li>
      <li>- Group classes and yoga</li>
    </ul>
    <p><strong>Owner:</strong> Nam-Phat-Thien</p>
    <p><strong>Address:</strong> Thanh Thai Street, Ho Chi Minh City</p>
    <p><strong>Operating Hours:</strong> 5:00 AM - 10:00 PM</p>
  </div>
</div>
