<p>
    create-user works!
  </p>
  <form [formGroup]="userFrm" (ngSubmit)="createUser()">
  <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter Email" 
      formControlName="email" id="email">
   </div>
   <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter password" 
      formControlName="password"  id="password">
   </div>
   <div class="form-group">		 
      <input type="submit" [disabled]="!userFrm.valid" class="form-control" value="Create">
   </div>
  </form>