<div class="menu">
  <div class="logo">
    <span class="menu-text">MENU</span>
  </div>
  <ul>
    <li>
      <a href="/home">
        <span><i class="fas fa-home"></i></span>
        Home
      </a>
    </li>
    <li>
      <a href="/employees">
        <span><i class="fas fa-users"></i></span>
        Employee
      </a>
    </li>
    <li>
      <a href="/customers">
        <span><i class="fas fa-users"></i></span>
        Customers
      </a>
    </li>

    <li>
      <a href="/attendance">
        <span><i class="fas fa-check"></i></span>
        Attendance
      </a>
    </li>
    <li>
      <a href="/pt">
        <span><i class="fas fa-dumbbell"></i></span>
        PT
      </a>
    </li>
    <li>
      <a href="/monthPackages">
        <span><i class="fas fa-cube"></i></span>
        Month Packages
      </a>
    </li>
    <li>
      <a href="/sessionPackages">
        <span><i class="fas fa-cube"></i></span>
        Session Packages
      </a>
    </li>
    <li>
      <a href="/revenue">
        <span><i class="fas fa-coins"></i></span>
        Revenue
      </a>
    </li>
    <li>
      <a href="/signUp">
        <span><i class="fas fa-user-plus"></i></span>
        Create Employee
      </a>
    </li>
    <li>
      <a href="/createCus">
        <span><i class="fas fa-user-plus"></i></span>
        Create Customer
      </a>
    </li>
    <!-- <li>
      <a href="/item">
        <span><i class="fas fa-item"></i></span>
        Item
      </a>
    </li> -->
  </ul>
  <!-- <button onclick="window.location.href='/login'" class="logout-button">
    <span><i class="fas fa-sign-out-alt"></i></span>
    Log out
  </button> -->
  <button class="logout-button" (click)="Logout()">
    <span><i class="fas fa-sign-out-alt"></i></span> Log out
  </button>
</div>
